

body {
    background-color: rgb(236, 226, 220);
    display: block;
    min-width: 500px;
    font-family: "VT323", monospace;
    font-weight: bold;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
}

#logo1 {
    margin: auto;
    display: block;
}

p {
    text-align: center;
}

nav {
    text-align: center;
}

nav > a:link, nav > a:visited {
    background-color: black;
    color: rgb(236, 226, 220);
    padding: 15px 35px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.48;
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
}

nav > a:hover, nav > a:active {
    background-color: gray;
}

#pc_spotify {
    margin: 0 auto;
    display: block;
}

ul {
    list-style-type: none;
    font-size: 3.5rem;
    text-align: center;
}

form {
    text-align: center;
    font-size: 2rem;
}